body {
    margin: 0;
    background-color: #e1e2e3;
    font-family: "Roboto", sans-serif;
}

#root {
    height: 100vh;
}

.nav-bar {
    min-height: 100px;
    background: linear-gradient(45deg, #efad01, #ffca00);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
    display: flex;
    position: relative;
}

.logo {
    width: 96px;
    height: 96px;
    padding: 16px;
}

.food-img {
    position: absolute;
    top: -0.5%;
    right: 10%;
    height: 128px;
    opacity: 0.25;
}

.nav-bar > ul {
    z-index: 1;
    list-style: none;
    display: flex;
    align-self: flex-end;
    margin: 0;
}

.nav-bar > ul > li {
    padding: 8px;
    margin: 0px 8px;
    font-weight: 700;
}

.nav-bar > ul > li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.body-container {
    margin: 16px;
    padding: 16px;
    background: white;
}

.restaurant-title {
    margin-top: 48px;
    margin-bottom: 8px;
}

.search-box {
    border: 1px solid #efad01;
    border-radius: 4px;
    min-height: 15px;
    min-width: 450px;
    padding: 8px;
    font-size: 1rem;
}

.search-box:focus-visible {
    outline: none;
    box-shadow: 2px 4px 4px #efad0175;
}

.footer {
    background: darkslategrey;
}

.restaurant-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant-card {
    width: 254px;
    padding: 16px;
    display: flex;
    border: 1px solid white;
    flex-direction: column;
}

.restaurant-card:hover {
    border: 1px solid #efad0175;
}

.restaurant-card-rating-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-bottom: 16px;
    font-size: 12px;
    color: #535665;
    border-bottom: 1px solid #e9e9eb;
    align-items: center;
}

.restaurant-card-rating-star-container {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: white;
    background-color: #48c479;
    padding: 2px 4px;
    border-radius: 2px;
}

.restaurant-card-rating-star-icon {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.restaurant-card-title {
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
}

.restaurant-card-cuisine {
    color: #686b78;
    font-size: 13px;
    padding-top: 0px;
    margin-top: 4px;
}

.restaurant-card-offer {
    color: #8a584b;
    font-weight: 400;
    margin-top: 16px;
}
